@mixin require(){
  .require{
    background: #ea352d;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
  }
}

@mixin language(){
  .language__detail__box{
    color: black;
    background-color: #eee;
    width: 500px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    .language__detail__box__day{
      padding: 10px;
      text-align: center;
    }
    .language__detail__box__image{
      text-align: center;
    }
    .language__detail__box__tittle{
      padding: 10px;
      text-align: center;
    }
  }
}