@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "flash";
@import "user";
.content.show{
  display: flex;
}
.content{
  display: none;
}
.disabled{
  display: none;
}