.header{
  background-color: #2F4F4F;
  &__box{
    display: flex;
    align-items: center;
    &__tittle{
      padding-left: 20px;
      font-size: 25px;
      height: 50px;
      line-height: 50px;
    }
    &__tittle a{
      color: white;
    }
  }
}
.header__bottom{
  &__box{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    height: 300px;
    box-shadow:rgba(0, 0, 0, 0.18) 0px 2px 4px;
    .user__detail{
      &__box{
        display: none;
        .detail-box{
          display: flex;
          .user__image{
            margin: 50px;
            border-radius: 50%;
            background-color: #2F4F4F;
            width: 200px;
            height: 200px;
          }
          .user-box{
            padding-top: 50px;
            .user__name{
              font-size: 30px;
              margin-bottom: 20px;
            }
            .user-btn{
              padding: 15px;
              background-color: #3169d1;
              color: #fff;
              margin: 0 10px 10px 0;
              box-shadow: 0 5px #3B4BA8;
            }
          }
        }
      }
    }
    .user__box{
      display: flex;
      &__btn{
        .fa-search-plus{
          @include userbtn()
        }
        .fa-search-plus:hover{
          @include userhover()
        }
        .fa-paper-plane{
          @include userbtn()
        }
        .fa-paper-plane:hover{
          @include userhover()
        }
        .fa-book{
          @include userbtn()
        }
        .fa-book:hover{
          @include userhover()
        }
        .fa-user{
          @include userbtn()
        }
        .fa-user:hover{
          @include userhover()
        }
      }
    }
  }
}