.List__display{
  text-align: center;
  margin-top: 50px;
  a{
    color: black;
  }
  .language__count{
    font-size: 30px;
    font-weight: bold;
    margin-top: 100px;
    border-bottom: 1px solid #2F4F4F;
    box-shadow:rgba(0, 0, 0, 0.3) 0px 4px 4px;
  }
}